* {
    max-width: 100%;
}

.dessert-container {
    /* This code stacks the heading on top of the main content */
    display: flex;
    flex-direction: column;
}

.dessert-container > main {
    /* Write grid code */
}

.dessert {
    /* This code will place the image above the button, the button on top of the text, all items centered */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dessert .info {
    width: 100%;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }