* {
    max-width: 100%;
}

.dessert-container {
    /* This code stacks the heading on top of the main content */
    display: flex;
    flex-direction: column;
}

.dessert-grid{
    /* Write grid code */
    width: 900px; /* Sets the maximum width */
    height: 1400px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.dessert {
    /* This code will place the image above the button, the button on top of the text, all items centered */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dessert-info {
    width: 100%;
    margin-top: -15px; /* This makes the Add to Cart button overlap the picture */
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }